@charset "utf-8";
* { margin:0; padding:0;}
body, html {
    width:100%;
    height:100%;
    font-family:'Montserrat', sans-serif;
    /* font-family:'Noto Sans KR', sans-serif; */
    outline:0;
    overflow-x:hidden; 
    -ms-overflow-style:none; 
}
::-webkit-scrollbar { display:none; }
ul { list-style:none; }
a { text-decoration:none; }
a, img, span { display:block; }
.wrap {
    width:100%;
    height:100%;
}
.page {
    clear:both;
    width:100%;
    height:100%;
    overflow:hidden;
}
.lloo {
    width:1100px;
    margin:0 auto;
}
.header {
    width:100%;
    height:100%;
    position:absolute;
    z-index:50;
    transition:height .7s;
}
.header.scroll {
    width:100%;
    height:80px;
    position:fixed;
    z-index:50;
    background:rgba(0,0,0,0.5);
}
.logo {
    width:50px;
    height:70px;
    background:url(./images/logo_w.png);
    background-repeat:no-repeat;
    margin:10px 0;
    float:left;
    background-position:85%;
}
.logo.scroll {
    width:50px;
    height:52px;
    background:url(./images/logo_w.png);
    background-repeat: no-repeat;
    margin:14px 0;
    float:left;
    transition:.7s;
}
.menu {
    width:900px;
    float:right;
    margin:14px 0;
}
.gnb {
    float:right;
}
.gnb li {
    float:left;
    margin-left:40px;
    padding:4px;
    box-sizing:border-box;
    width:100px;
}
.gnb li:hover a {
    font-size:1.2em;
    font-weight:600;
}
.gnb li a{
    line-height:52px;
    color:#fff;
    font-size:1em;
    text-align:center;
}
#vs {
    width:100%;
    height:100%;
    position:relative;
}
#vs ul {
    width:400%;
    height:100%;
    position:relative;
}
#vs li {
    width:25%;
    float:left;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:25;
}
#vs li .img {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    animation:vsImg 12.5s ease-in-out;
    -webkit-animation:vsImg 12.5s ease-in-out;
    -moz-animation:vsImg 12.5s ease-in-out;
    height:100%;
}
#vs .img img {
    position:absolute;
    /* top:-9999px; */
    /* bottom:-9999px; */
    /* right:-9999px; */
    /* left:-9999px; */
    margin:auto;
    min-width:100%;
    min-height:100%;
}
@keyframes vsImg {
	0% { transform:scale(1.1); }
	100% { transform:scale(1); }
}
@-webkit-keyframes vsImg {
	0% { -webkit-transform:scale(1.1); }
	100% { -webkit-transform:scale(1); }
}
@-moz-keyframes vsImg {
	0% { -moz-transform:scale(1.1); }
	100% { -moz-transform:scale(1); }
}
.mainLogo {
    position:absolute;
    width:500px;
    height:600px;
    top: 200px;
    left: calc(calc(100% - 500px) / 2);
    z-index:30;
}
.mainLogo span {
    width:100%;
    height:100%;
    font-size:300px;
    font-weight:600;
    color:#fff;
    text-align:center;
    font-family: 'Gloria Hallelujah', cursive;
}
.mainLogo .m {
    margin-top:-100px;
}
.mainLogo .i {
    margin-top:-400px;
}
.mainLogo .n {
    margin-top:-400px;
}
.mainLogo .a {
    margin-top:-400px;
}
.menuArea {
    height:80px;
    background:#222;
}
#con ul {
    width:100%;
    height:100%;
}
#con li {
    width:50%;
    height:46%;
    float:left;
    position:relative;
}
#con li:hover .conImg {
    height:110%;
    transition:.7s;
    margin-top:-7%;
}
#con .con2, #con .con3 {
    background:#333;
}
#con .con4 {
    background:#fff;
}
.con3, .con4 {
    margin-top:-100%;
}
.con3.scroll,.con4.scroll {
    margin-top:0;
    transition:.7s;
}
#con li a {
    height:100%;
}
#con p {
    position:absolute;
    font-size:2.8em;
    font-weight:900;
    top:20px;
}
#con p.scroll {
    margin-left:20px;
    transition:.8s;
}
.con1 p, .con3 p {
    margin-left:-345px;
}
.con2 p, .con4 p {
    margin-left:1000px;
}
#con .conImg {
    height:100%;
}
#con .conImg.scroll {
    margin-left:0;
    transition:1s;
}
#con .con1 div, #con .con3 div {
    margin-left:-1500px;
}
#con .con2 div, #con .con4 div {
    margin-left:1000px;
}
#con .conTit1 {
    color:#555;
}
#con .conTit2 {
    color:#fff;
}
#con img {
    height:100%;
    margin:0 auto;
}
#pf {
    width:100%;
}
.tit {
    padding:120px;
    text-align:center;
    font-size:2.4em;
    font-weight:300;
    height:30%;
    background:#222;
    color:#fff;
    box-sizing:border-box;
}
#pf ul {
    width:100%;
    height:100%;
}
#pf li {
    width:25%;
    height:35%;
    float:left;
    position:relative;/*
    border:100px solid #082259;
    border-*/
}
#pf li a {
    width:100%;
    height:100%;
}
#pf li img{
    margin: 0 auto;
    height: 100%;
    float:left;
    background-position: center;
}
#pf .hover {
    opacity:0;
    width:100%;
    height:100%;
    transition:.7s;
}
#pf li:hover .hover {
    opacity:1;
    transition:.7s;
}
#pf li:hover .more {
    transform:rotate(360deg);
    transition:.7s;
}
#pf li .hover.t-1{
    background:rgba(9,34,90,0.9);
    position:absolute;
    top:0;
    left:0;
    box-sizing:border-box;
    transition:.7s;
}
#pf .ptBox {
    position:absolute;
    top: calc(calc(100% - 89px) / 2 );
    text-align: center;
    width: 100%;
}
#pf .pfTit, #pf .pfCom {
    text-align:center;
    color:#fff;
    line-height: 1.75rem;
}
#pf .more {
    padding:6px 0;
}
#pf .more .fas.fa-plus-circle {
    color:#fff;
    font-size: 1.4rem;
}
#ft {
    width:100%;
}
#ft .ftIco {
    height:62%;
    padding:10% 0;
    box-sizing:border-box;
}
#ft .ftIco li {
    float:left;
    padding:10px;
    width:200px;
    height:200px;
}
#ft .ftlogo {
    height:48px;
    padding:20px;
    margin:0 auto;
}
#ft .fas, #ft .far, #ft .fab {
    font-size:3em;
    margin-left:calc(calc(100% - 88px) / 2);
    padding:20px;
    box-sizing:border-box;
}
.ftTit, .ftCom {
    text-align:center;
}
.ftTit {
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1.4em;
    padding: 10px;
}
.ftCom {
    font-size: 1.2em;
}
#ft .copy {
    width:100%;
    height:80px;
    background:#333;
    color:#fff;
    text-align:center;
    font-weight:500;
    font-size:1.2em;
    line-height:78px;
}
.toTop {
    display:none;
    padding:15px;
    position:fixed;
    right:40px;
    bottom:100px;
    z-index:9999;
    transition:.7s;
}
.fas.fa-chevron-circle-up {
    display:block;
    color:rgba(0,0,0,0.5);
    font-size: 2.6em;
}