@charset "utf-8";
#content section {
    padding:20px;
}
.conWrap1 {
    background:#e1e1e1;
}
.vs img {
    width:100%;
}
.conWrap {
    background:#eeeeee;
    height: 377px;
}
.conWrap p {
    margin:20px 0;
}